# Tuples

In [1]:
# tuples are faster than list.
# we use tuples for unchanged data. Tuples are immutable. indexable.
# normal parantheses () are used for tuples. Round brackets and comma.
# tuples are fast, they work rapidly. it is faster than list.

In [2]:
empty_tuple = ()

In [3]:
print(empty_tuple)

()

In [4]:
print(type(empty_tuple))

<class 'tuple'>

In [5]:
tuple_1 = ('a')

In [6]:
print(tuple_1)

a

In [7]:
print(type(tuple_1))

<class 'str'>

In [8]:
tuple_2 = ('a',)

In [9]:
print(tuple_2)

('a',)

In [11]:
print(type(tuple_2))

<class 'tuple'>

In [12]:
tuple_3 = ('a', 'b', 'c', 'c')

In [13]:
print(tuple_3)

('a', 'b', 'c', 'c')

In [14]:
print(type(tuple_3))

<class 'tuple'>

In [15]:
mix_tuple = ('11', 11, [2, 'two', ('six', 6)], (5, 'fair'))

In [16]:
len(mix_tuple)

4

In [17]:
mix_tuple[2]

[2, 'two', ('six', 6)]

In [18]:
type(mix_tuple[2])

list

In [ ]:
('seven', 7)

In [22]:
mix_tuple[2].append(('seven', 7))

In [23]:
mix_tuple

('11', 11, [2, 'two', ('six', 6), ('seven', 7), ('seven', 7)], (5, 'fair'))

In [24]:
mix_tuple[2].pop()

('seven', 7)

In [25]:
mix_tuple

('11', 11, [2, 'two', ('six', 6), ('seven', 7)], (5, 'fair'))

In [26]:
mix_tuple[3].append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [27]:
# index
# count

In [28]:
this_tuple = ('apple', 'banana', 'cherry')

In [29]:
'melon'

'melon'

In [32]:
this_tuple.insert('melon', 2)

AttributeError: 'tuple' object has no attribute 'insert'

In [35]:
this_tuple = list(this_tuple)

In [36]:
this_tuple

['apple', 'banana', 'cherry']

In [37]:
this_tuple.append('melon')

In [38]:
this_tuple

['apple', 'banana', 'cherry', 'melon']

In [39]:
this_tuple = tuple(this_tuple)

In [40]:
this_tuple

('apple', 'banana', 'cherry', 'melon')

In [41]:
print(type(this_tuple))

<class 'tuple'>

In [42]:
tuple4 = (1, 4, 7, 3, 8, 5, 7, 9, 0, 21, 56, 67, 1, 7, 9)

In [43]:
print(tuple4.count(2))

0

In [44]:
print(tuple4.count(7))

3

In [45]:
print(tuple4.index(7))

2

In [53]:
print(tuple4.index(7, 3))

6

In [54]:
3 > 2

True

In [55]:
tup = (1, 3, 5, 7, 9)

In [56]:
1 in tup

True

In [57]:
2 in tup

False

In [58]:
2 not in tup

True

In [59]:
range(10)  # start = 0, stop = required value, step =1

range(0, 10)

In [61]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [63]:
for i in range(1, 10):
    print(i)

1
2
3
4
5
6
7
8
9

In [67]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [72]:
for i in range(2, 10, 2):
    print(i)

2
4
6
8

# Dictionaries

In [86]:
# Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.
# Store item pairs. key and value. Dictionaries are enclosed by curly braces {}. seperated by comma , . 
# key : value.

In [75]:
first_dict = {'team1' : 'Liverpool', 'team2' : 'Chelsea', 3 : 'Arsenal', 4 : 5}

In [76]:
print(first_dict)          # key : value , key2 : value2, key3 : value3

{'team1': 'Liverpool', 'team2': 'Chelsea', 3: 'Arsenal', 4: 5}

In [79]:
second_dict = dict(team = 'Liverpool', num1 = 12, bool1 = True, list1 = [1, 'a'], tuple1 = (12, 'ab'))

In [80]:
print(second_dict)

{'team': 'Liverpool', 'num1': 12, 'bool1': True, 'list1': [1, 'a'], 'tuple1': (12, 'ab')}

In [81]:
empty_dict = {}

In [82]:
empty_dict

{}

In [83]:
empty_dict2 = dict()

In [84]:
empty_dict2

{}