# Lists

Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

In [1]:
# List : is a collection which is ordered and changeable. In python lists are written with square brackets [].
country = ['Turkey', 'Spain', 'Mexico', 'Argentina', 'Venezuela']
print(country)

['Turkey', 'Spain', 'Mexico', 'Argentina', 'Venezuela']

In [2]:
country[2]

'Mexico'

In [3]:
a = 'yekta'

In [5]:
b = list(a)

In [6]:
b

['y', 'e', 'k', 't', 'a']

In [10]:
sentence = 'Turkey is a country.'

In [11]:
list_1 = list(sentence)

In [12]:
print(list_1)

['T', 'u', 'r', 'k', 'e', 'y', ' ', 'i', 's', ' ', 'a', ' ', 'c', 'o', 'u', 'n', 't', 'r', 'y', '.']

In [13]:
list_2 = [sentence]

In [14]:
print(list_2)

['Turkey is a country.']

In [17]:
print(country)

['Turkey', 'Spain', 'Mexico', 'Argentina', 'Venezuela']

# append

In [18]:
country.append(13)

In [19]:
print(country)

['Turkey', 'Spain', 'Mexico', 'Argentina', 'Venezuela', 13]

In [20]:
country.append('France')

In [21]:
country

['Turkey', 'Spain', 'Mexico', 'Argentina', 'Venezuela', 13, 'France']

# insert

In [22]:
country

['Turkey', 'Spain', 'Mexico', 'Argentina', 'Venezuela', 13, 'France']

In [23]:
country.insert(1, 'Greece')

In [24]:
country

['Turkey', 'Greece', 'Spain', 'Mexico', 'Argentina', 'Venezuela', 13, 'France']

# remove

In [25]:
country.remove(13)

In [26]:
country

['Turkey', 'Greece', 'Spain', 'Mexico', 'Argentina', 'Venezuela', 'France']

# sort vs reverse

In [27]:
country.sort()

In [28]:
country

['Argentina', 'France', 'Greece', 'Mexico', 'Spain', 'Turkey', 'Venezuela']

In [29]:
country.reverse()

In [30]:
country

['Venezuela', 'Turkey', 'Spain', 'Mexico', 'Greece', 'France', 'Argentina']

# pop

In [43]:
country

['Venezuela', 'Turkey', 'Spain', 'Mexico', 'Greece', 'France', 'Argentina']

In [44]:
country.pop()

'Argentina'

In [45]:
country

['Venezuela', 'Turkey', 'Spain', 'Mexico', 'Greece', 'France']

# exercise

In [31]:
new_list = []

In [32]:
print(new_list)

[]

In [33]:
new_list.append(5)

In [34]:
new_list

[5]

In [35]:
new_list.append(7)

In [36]:
new_list

[5, 7]

In [37]:
new_list.insert(0, 3)

In [38]:
new_list

[3, 5, 7]

In [39]:
new_list.reverse()

In [40]:
new_list

[7, 5, 3]

In [41]:
new_list.pop()

3

In [42]:
new_list

[7, 5]

# indexing

In [46]:
city = ['New York', 'London', 'Istanbul', 'Sydney', 'Seoul']

In [47]:
city[2]

'Istanbul'

In [48]:
city[2][2]

't'

In [49]:
city_list = []

In [50]:
city_list.append(city)

In [51]:
city_list

[['New York', 'London', 'Istanbul', 'Sydney', 'Seoul']]

In [52]:
city_list[2]

IndexError: list index out of range

In [53]:
city_list[0]

['New York', 'London', 'Istanbul', 'Sydney', 'Seoul']

In [54]:
city_list[-1]

['New York', 'London', 'Istanbul', 'Sydney', 'Seoul']

In [55]:
city_list

[['New York', 'London', 'Istanbul', 'Sydney', 'Seoul']]

In [56]:
city_list[0][1][3]

'd'

In [57]:
animals = ['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']

In [59]:
print(animals[3:])

['wolf', 'rabbit', 'deer', 'giraffe']

In [60]:
print(animals[:5])

['elephant', 'bear', 'fox', 'wolf', 'rabbit']

In [65]:
print(animals[::2])

['elephant', 'fox', 'rabbit', 'giraffe']

In [67]:
max(animals)

'wolf'

In [68]:
min(animals)

'bear'

In [69]:
animals.sort()

In [70]:
animals

['bear', 'deer', 'elephant', 'fox', 'giraffe', 'rabbit', 'wolf']

# Tuples

In [71]:
# tuples are faster than list.
# we use tuples for unchanged data. Tuples are immutable. indexable.
# normal parantheses () are used for tuples. Round brackets and comma.
# tuples are fast, they work rapidly. it is faster than list.

In [72]:
empty_tuple = ()

In [73]:
print(empty_tuple)

()

In [74]:
tuple_1 = ('a')

In [75]:
print(tuple_1)

a

In [76]:
tuple_2 = ('abc')

In [77]:
print(tuple_2)

abc

In [80]:
tuple_22 = ('abc',)

In [81]:
print(tuple_22)

('abc',)

In [78]:
tuple_3 = tuple('abc')

In [79]:
tuple_3

('a', 'b', 'c')